/* Header.css */

.my-header {
  background-color: #293544;
  color: #fff;
  padding: 20px 0;
  transition: background-color 0.3s ease;
    position: sticky;
    top: 0;
    z-index: 1000; /* Adjust as needed */
  }
  
