/* Header.css */

.my-header {
  background-color: none;
  color: #24589f;
  /* padding: 20px 0; */
  transition: background-color 0.3s ease;
    position: sticky;
    top: 0;
    z-index: 1000; 
    
  }
  .underline-on-hover:hover {
    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-thickness: 4px;
  color: #24589f;
  transition:  0.5s;

    /* text-underline-position: under; */
  }
  